@charset "utf-8";
@use "../global" as g;

// -----------------------------------------------------------------
// style
// -----------------------------------------------------------------

$z: overlay, nav, toolbar;
$nav__button:#fff !default;
$nav__button-bdc:rgba(#e8e8e8, .5) !default;

@layer components {

  //
  // header
  //


  .p-header {
    z-index: g.get_zindex(header);

    &__logo-block {
      flex: 0 1 96px;
      @media #{g.$md} {
        flex: 0 1 112px;
      }
      @media #{g.$lg} {
        flex: 0 1 176px;
        margin-right: auto;
        padding: 0 g.rem(12);
        transition: all 0.2s ease-in-out;
      }
      @media #{g.$xl} {
        flex: 0 1 200px;
        padding: 0 g.rem(24);
      }
      &.js-initial {
        @media #{g.$xl} {
          flex: 0 1 256px;
          padding-top: g.rem(36);
        }
        @media #{g.$xxl} {
          flex: 0 1 300px;
          padding-top: g.rem(56);
        }
      }
    }
    &__logo-block--login {
      @extend .p-header__logo-block;
      margin-right: auto !important;
      margin-left: auto !important;
    }

    &__logo {
      display: block;
      transition: all 0.2s ease-in-out;

      @media #{g.$lg} {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }

      @include g.hover() {
        opacity: 0.65;
      }
    }
    &__row {
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--header-height);
      // border-bottom: 1px solid g.$clrg200;
      transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
      // background: #fff;
      color: #fff;
      @media #{g.$lg} {
        align-items: stretch;
        justify-content: space-between;
        // transition: all 0.2s ease-in-out;
        border-bottom: none;
        background: transparent;
      }
      &.js-scroll {
        background: #fff;
        box-shadow: 3px 3px 6px rgba(#222, .1);
      }
    }
  }

  .p-header__row.js-active {
    @media #{g.$lg} {
      // background-color: #fff;
    }
  }

  //
  // toolbar
  //
  .p-toolbar__button {
    display: inline-block;
    position: relative;
    width: g.rem(30);
    height: g.rem(30);
    padding: 0;
    border: 0;
    background-color: transparent;

    @media #{g.$sm} {
      margin-right: g.rem(12);
    }

    &:active, &:focus {
      outline: 0;
    }
  }

  .p-toolbar__line {
    $border_height: g.rem(2);
    $border-position: g.rem(5);
    display: block;
    width: 100%;
    height: $border_height;
    transition: all 0.2s ease-in-out;
    background-color: #4db441; /* was color.scale(var(--clr1), $lightness: -3%) */

    &::before, &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: $border_height;
      transition: all 0.2s ease-in-out;
      background-color: #4db441; /* was color.scale(var(--clr1), $lightness: -3%) */
    }
    &::before {
      top: $border-position;
    }

    &::after {
      bottom: $border-position;
    }
  }

  .p-toolbar__line.js-open {
    background-color: transparent !important;

    &::before, &::after {
      background-color: #fff;
    }

    &::before {
      transform: translateY(g.rem(9)) rotate(45deg);
    }

    &::after {
      transform: translateY(g.rem(-9)) rotate(-45deg);
    }
  }

  .p-toolbar {
    display: flex;
    position: absolute;
    z-index: index($z, toolbar);
    top: g.rem(10);
    left: g.rem(10);
    align-items: center;
    cursor: pointer;
    @media #{g.$md} {
      top: g.rem(13);
    }
    @media #{g.$lg} {
      display: none;
    }

    &__subtitle {
      display: none;

      @media #{g.$sm} {
        display: inline-block;
        color: var(--gray);
        font-size: g.rem(14);
      }
    }
  }


  .p-toolbar[data-navmenu="open"] {

    .p-toolbar__subtitle {

      @media #{g.$sm} {
        color: #fff;
      }
    }
  }

  .p-nav__overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: index($z, overlay);
    background: var(--grd1);
    // background: linear-gradient(140deg, var(--clr4), var(--clr2));
  }


  //
  // nav
  //


  .p-nav {
    display: none;
    z-index: index($z, nav);
    padding-top: g.rem(70);
    overflow: auto;
    opacity: 0;
    -webkit-overflow-scrolling: touch;

    @media #{g.$lg} {
      display: block !important;
      position: relative;
      padding-top: 0;
      overflow: visible;
      opacity: 1 !important;
      // background: #ddd;
      line-height: 1;
    }
    @media #{g.$lg} {
      padding-left: g.rem(6);
    }
    @media #{g.$xl} {
      padding-left: g.rem(20);
    }
    @media #{g.$xxl} {
      padding-left: g.rem(24);
    }

    &__list {
      //   list-style: none;
      @media #{g.$lg} {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
        // li:first-child::before {
        //   display: none;
        // }
      }
    }

    &__item {
      display: block;
      width: 100%;

      @media #{g.$lg} {
        display: flex;
        position: relative;
        align-items: center;
        width: auto;
        line-height: 1;
      }
      @media #{g.$lg} {
        // &::before {
        //   content: "";
        //   display: block;
        //   position: absolute;
        //   top: 50%;
        //   left: 0;
        //   width: 1px;
        //   height: 18px;
        //   transform: translate3d(-50%, -50%, 0);
        //   background-color: g.$clrg500;
        // }
      }
      @media #{g.$xl} {
        // &::before {
        //   height: g.rem(24);
        // }
      }
    }
    &__item--salon {
      @media #{g.$lg} {
        white-space: nowrap
      }
    }
    &__item--salon-icon {
      display: none;
      @media #{g.$lg} {
        display: block;
        width: g.rem(20);
        margin-left: g.rem(4);
      }
    }
    &__item--recruit {
      @media #{g.$lg} {
        margin-left: g.rem(8);
        transition: all 0.2s ease-in-out;
        background-image: var(--grd1);

        @include g.hover {
          opacity: 0.85;
        }
        // &::before {
        //   display: none;
        // }
      }
    }

    &__item--close {
      display: block;
      width: 100%;
      padding: g.rem(14) 0 g.rem(14) g.rem(20);
      transition: all 0.2s ease-in-out;
      border-top: 1px solid $nav__button-bdc;
      border-bottom: 1px solid $nav__button-bdc;
      color: $nav__button;
      font-size: g.rem(15);
      line-height: 1;
      text-align: left;
      cursor: pointer;

      @media #{g.$lg} {
        display: none;
      }
    }
  }


  @mixin nav__button {
    display: block;
    padding: g.rem(14) 0 g.rem(14) g.rem(20);
    border-top: 1px solid $nav__button-bdc;
    color: $nav__button;
    font-size: g.rem(16);
    line-height: 1;
    text-align: left;
    text-decoration: none;
    @media #{g.$md} {
    }
    @include g.hover() {
      color: $nav__button;
    }

    @media #{g.$lg} {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0 g.rem(16);
      backface-visibility: hidden;
      transition: color .2s ease-in-out, background-color .2s ease-in-out;
      border: none;
      color: var(--clr1);
      font-size: g.rem(14);
      line-height: 1;
      @include g.hover() {
        background-color: transparent;
        color: var(--clr1-hover);
      }
    }
    @media #{g.$xl} {
      font-size: g.rem(15);
    }
    @media #{g.$xxl} {
      font-size: g.rem(16);
    }
  }

  .p-nav__button {
    @include nav__button;
  }

  .p-nav__button--recruit {
    background-color: #fff;
    color: var(--clr1);
    @include g.hover() {
      color: var(--clr1);
    }
    @media #{g.$lg} {
      padding: 0 g.rem(24);
      background-color: transparent;
      color: #fff !important;
      font-size: g.rem(16);
      @include g.hover() {
        color: #fff !important;
      }
    }
    @media #{g.$xl} {
    }
    @media #{g.$xxl} {
      font-size: g.rem(17);
    }
  }

  .p-nav__button--children {
    @include nav__button;
    position: relative;
    padding-left: g.rem(48);

    @media #{g.$lg} {
      padding: g.rem(20) g.rem(32) g.rem(20) g.rem(18);
      text-align: center;
      white-space: nowrap;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: g.rem(24);
      width: g.rem(12);
      height: g.rem(2);
      margin-right: g.rem(12);
      transform: translate3d(0, -50%, 0);
      background-color: $nav__button;

      @media #{g.$lg} {
        content: none;
      }
    }
  }

  .p-nav {

    &__list--children {
      display: block;

      @media #{g.$lg} {
        display: none;
        position: absolute;
        top: var(--header-height);
        left: 0%;
        // transform: translate3d(-50%, 0, 0);
        transition: opacity .2s ease-in-out;
        opacity: 0;
        background-color: #fff;
        // background-color: color.scale(g.$clr1, $lightness: 5%);
        box-shadow: 3px 3px 4px rgba(#b0b0b0, .5);
      }
      &.js-active {
        opacity: 1;
      }
    }
  }


  // dropdown使用時
  // nav.l-nav.p-nav .p-nav__item.js-nav--dropdown .p-nav__list--children のスタイリング更新
  // .p-nav__list--children {
  //   @media #{g.$lg} {
  //     top: g.rem(54);
  //     background-color: rgba(color.scale(g.$clr1, $lightness: 5%), 0.9);
  //   }
  // }

  // dropdown 含め各ボタン のスタイリング更新
  // nav.l-nav.p-nav .c-nav__button, nav.l-nav.p-nav .c-nav__buton--children
  // .c-nav__button, .c-nav__buton--children {
  //   @media #{g.$lg} {
  //     padding-top: g.rem(20);
  //     padding-bottom: g.rem(18);
  //     &::after {
  //       background-color: transparent !important;
  //     }
  //   }
  // }
  // }


  .l-header.js-open {
    .p-toolbar__login--typ, .p-toolbar__login::after {
      color: #fff;
    }
  }
} // @layer components