@use "sass:map";
@use "../global" as g;

@each $breakpoint in map.keys(g.$grid-breakpoints) {

  @include g.media-breakpoint-up($breakpoint) {
    $infix: g.breakpoint-infix-modifier($breakpoint, g.$grid-breakpoints);
    // $infix-before: g.breakpoint-infix-before($breakpoint, g.$grid-breakpoints);

    // .flex__row#{$infix} {
    // flex-direction:row !important;
    // }
    // .flex__column#{$infix} {
    // flex-direction: column !important;
    // }
    // .flex__row-reverse#{$infix} {
    // flex-direction: row-reverse !important;
    // }
    // .flex__column-reverse#{$infix} {
    // flex-direction: column-reverse !important;
    // }

    // .flex__wrap#{$infix} {
    // flex-wrap: wrap !important;
    // }
    // .flex__nowrap#{$infix} {
    // flex-wrap: nowrap !important;
    // }
    // .flex__wrap-reverse#{$infix} {
    // flex-wrap: wrap-reverse !important;
    // }

    .jc__start#{$infix} {
      justify-content: flex-start !important;
    }
    .jc__end#{$infix} {
      justify-content: flex-end !important;
    }
    .jc__center#{$infix} {
      justify-content: center !important;
    }
    .jc__between#{$infix} {
      justify-content: space-between !important;
    }
    .jc__around#{$infix} {
      justify-content: space-around !important;
    }

    .ai__start#{$infix} {
      align-items: flex-start !important;
    }
    .ai__end#{$infix} {
      align-items: flex-end !important;
    }
    .ai__center#{$infix} {
      align-items: center !important;
    }
    .ai__baseline#{$infix} {
      align-items: baseline !important;
    }
    .ai__stretch#{$infix} {
      align-items: stretch !important;
    }

    // .ac__start#{$infix} {
    // align-content: flex-start !important;
    // }
    // .ac__end#{$infix} {
    // align-content: flex-end !important;
    // }
    // .ac__center#{$infix} {
    // align-content: center !important;
    // }
    // .ac__between#{$infix} {
    // align-content: space-between !important;
    // }
    // .ac__around#{$infix} {
    // align-content: space-around !important;
    // }
    // .ac__stretch#{$infix} {
    // align-content: stretch !important;
    // }

    .as__auto#{$infix} {
      align-self: auto !important;
    }
    .as__start#{$infix} {
      align-self: flex-start !important;
    }
    .as__end#{$infix} {
      align-self: flex-end !important;
    }
    .as__center#{$infix} {
      align-self: center !important;
    }
    .as__baseline#{$infix} {
      align-self: baseline !important;
    }
    .as__stretch#{$infix} {
      align-self: stretch !important;
    }

    //order
    @for $i from 1 through 6 {
      .order__#{$i}#{$infix} {
        order: $i !important;
      }
    }
  }
}

