@charset "utf-8";
@use "../global" as g;

// -----------------------------------------------------------------
// style
// -----------------------------------------------------------------

@layer components {

.l-footer{
  width: 100%;
}

.l-footernav{
  position: fixed;
  z-index: g.get_zindex(footer);
  bottom: 0;
  width: 100%;
}

} // @layer components
