@charset "utf-8";
@use "../foundation/_variables" as v;
@use "_breakpoints" as b;

// Media Queries min
$sm: "(min-width: #{b.breakpoint-min(sm, $breakpoints: v.$grid-breakpoints)} )";
$md: "(min-width: #{b.breakpoint-min(md, $breakpoints: v.$grid-breakpoints)} )";
$lg: "(min-width: #{b.breakpoint-min(lg, $breakpoints: v.$grid-breakpoints)} )";
$xl: "(min-width: #{b.breakpoint-min(xl, $breakpoints: v.$grid-breakpoints)} )";
$xxl: "(min-width: #{b.breakpoint-min(xxl, $breakpoints: v.$grid-breakpoints)} )";


// Media Queries max
// breakpoint-max関数はひとつ上のブレークポイントを指定
$maxSm: "(max-width: #{b.breakpoint-max(xs, $breakpoints: v.$grid-breakpoints)} )";
$maxMd: "(max-width: #{b.breakpoint-max(sm, $breakpoints: v.$grid-breakpoints)} )";
$maxLg: "(max-width: #{b.breakpoint-max(md, $breakpoints: v.$grid-breakpoints)} )";
// $maxXl: "(max-width: #{b.breakpoint-max(lg, $breakpoints: v.$grid-breakpoints)} )";

// Media Queries retina
$retina: "only screen and (-webkit-min-device-pixel-ratio: 1.5) ";