@charset "utf-8";
@use "../global" as g;

// -----------------------------------------------------------------
// style
// -----------------------------------------------------------------


body.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #fff;

  .l-main__nav-less {
    flex: 1 1 0%;
  }
}

#login {
  // padding-top: 40px;
  padding-top: 0;
}

@media (min-width: 576px) {

  #login {
    width: 100%;
    max-width: 450px;
    margin: 0 auto auto;
  }
}

.login #login h1 a {
  display: none;
  // width: 320px;
  // height: 80px;
  // background: url(../img/logo.png) no-repeat 0 0;
  // background-size: contain;
}

.login form {
  margin-top: 0;
  border: none;
  box-shadow: none;
}

.login form .input, .login form input[type="checkbox"], .login input[type="text"] {
  border: 1px solid #ddd;
}

.login #nav, .login #backtoblog {
  display: none;
}

.login p#lostpassword, .login p#signup, .login p#backhome {
  // margin-top: 20px;
  margin-bottom: 24px;
  padding: 0 24px 0;
  font-size: 14px;
  text-align: center;

  a {
    color: #555d66;
    text-decoration: none;
    @include g.hover {
      color: #00a0d2;
      text-decoration: underline;
    }
  }
}

.login p#backhome {
  margin-top: 40px;
  margin-bottom: 0;
}


div#login form#loginform p.submit input#wp-submit {
  width: 100%;
  height: 50px;
  margin-top: 3%;
  float: none;
  text-align: center;
}

.login #login_error, .login .message, .login .success {
  margin-top: 15px;
  margin-bottom: 0;
  background-color: #f7f7f7;
  color: #2a2a2a !important;
  font-size: 15px !important;
}

.wp-core-ui .button-primary {
  border-color: var(--clrg500);
  background: var(--clrg500);
}

.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
  border-color: var(--clrg600);
  background: var(--clrg600);
}

.login form .input, .login form input[type="checkbox"], .login input[type="text"] {
  background-color: #fff;
}
